@font-face {
  font-family: kindergarten;
  src: url('kindergarten.woff2') format('woff2'),
       url('kindergarten.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible during font load */
}

@font-face {
  font-family: Amalia Valentine;
  src: url('Amalia Valentine.woff2') format('woff2'),
       url('Amalia Valentine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible during font load */
}

body {
  background-image: url("plaid.jpg");
}

.q1 {
    height: 70%;
    width: 50%;
    display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 50px;
    background-color:#ffc3d0ad;
    display:grid;
    font-family: kindergarten;
    border: 2px solid rgb(255, 192, 203);
    border-radius: 5px;
}

label {
    padding: 20px;
    font-size: 25px;
}

input {
    font-size: 20px;
    padding: 5px;
    font-family: kindergarten;
    border-radius: 5px;
    border: 2px solid #ffadbd;
}

option {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffadbd;
    font-family: kindergarten;
}

select {
  font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffadbd;
    font-family: kindergarten;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding-bottom: 0px;
    font-family: Amalia Valentine;
    color: #8ae47cfe;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.636);
}
p {
    font-size: 20px;
    text-align: center;
    font-family: kindergarten;
    padding: 10px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ffadbd;
    background-color: #8cf77bfe;
    font-family: kindergarten;
    width: 300px;
    margin: 0 auto;
}

button:active {
    background-color: pink;
}

